@import url('https://fonts.googleapis.com/css2?family=REM&family=Roboto+Slab:wght@500&display=swap');
:root {
  --unguDark: #11009E;
  --unguLight: #4942E4;
  --blue:#8696FE;
  --pink:#C4B0FF;
}
*{
  font-family: 'REM';
}
.navbar a:not(.navbar-brand,.btn) {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s, border-bottom-color 0.3s; 
}

.navbar a:not(.navbar-brand,.btn)::before {
  content: "";
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: transparent;
  transition: background-color 0.3s;
}

.navbar a:not(.navbar-brand,.btn):hover {
  color: var(--unguDark); 
}

.navbar a:not(.navbar-brand,.btn):hover::before {
  background-color: var(--unguDark);
}

.navbar{
  background-color: var(--unguLight);
  z-index: 11111;
}
#navbar{
position: fixed;
  width: 100%;
  transition: top 0.3s;
}
.catalog{
  position: relative;
  inset: 0;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-card{
  background-color: var(--unguLight);
  color: white;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 81px;
}
.catalog-item{
  width: 330px;
}
.modal-body{
  padding: 3rem;
}
@media (max-width: 780px){
  .catalog {
    flex-direction: column;
  }
  .catalog-card{
    margin-top: 30px;
  }
}